.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.image-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image {
    width: 300px;
    height: auto;
    border: 4px solid #d9534f;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-button {
    background-color: #d9534f;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 350px;
    margin-top: 20px; /* Espaciado superior para separar el botón */
}

.login-button:hover {
    background-color: #740a0a;
    transform: scale(1.05);
}

.login-button:active {
    transform: scale(0.98);
}
